* {
  margin: 0;
  padding: 0;
}

body {
  background: url('/assets/lightning-storm-weather-sky-53459.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #333;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  height: 100%;
}

#weather-app {
  max-width: 400px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 1em;
  height: 100vh;
  text-align: center;
  position: relative;
}

.location {
  color: #b98798;
}

.currently {
  color: #b98798;
}

canvas {
  max-width: 100%;
}

#sidebar {
  width: 200px;
  height: 100%;
  float: right;
  position: absolute;
  top: 0px;
  right: 100%;
  background-color: rgba(245, 245, 245, 0.85) !important;
  border-right: 1px solid #a5a5a5;
}

.w2ui-sidebar .w2ui-sidebar-top .w2ui-flat-left, .w2ui-sidebar .w2ui-sidebar-top .w2ui-flat-right {
  background-color: transparent;
}

.w2ui-sidebar .w2ui-sidebar-div .w2ui-node {
  background-color: transparent;
}

.w2ui-sidebar .w2ui-sidebar-div .w2ui-selected:before {
  border: none;
}

.w2ui-sidebar .w2ui-sidebar-div {
  overflow: hidden;
}

.stateface:before {
  font-size: 1.5em;
}

@media (max-width: 500px) {
  #weather-app {
    max-width: calc(100% - 7em);
  }
}