* {
  margin: 0;
  padding: 0;
}

body {
  /*background-color: #f3f4f5;*/
  background: url('/assets/lightning-storm-weather-sky-53459.jpeg');
  background-position: center;
  background-size: cover;
  color: #333;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  height: 100%;
}

#sidebar {
  height: 100vh; 
  width: 200px; 
  float: right;
}

.w2ui-sidebar .w2ui-sidebar-div .w2ui-selected:before {
  border: none;
}

.stateface:before {
  font-size: 1.5em;
}

#weather-app {
  max-width: 400px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 1em;
  height: 100vh;
  text-align: center;
}

.location {
  color: #29a9e8;
  text-decoration: underline;
}

.currently {
  color: #29a9e8;
}